/* .declaration-order {
  Позиционирование
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  Блочная модель
  display: block;
  float: right;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;

  Типографика
  font: normal 13px/1.5 Arial, sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #333333;

  Оформление
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  opacity: 1;

  Анимация
  transition: color 1s;

  Разное
  will-change: auto;
} */

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

.new-item {
  background-image: url(../img/new-flag.png);
  background-repeat: no-repeat;
  background-size: 60px 59px;
  background-position: top right;
}

.btn {
  padding: 10px 55px;

  color: #ffffff;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  background-color: #ee3643;
  border-radius: 2px;
}

.btn:hover,
.btn:focus {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-family: "Cuprum", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}

/* Header */
.header-order,
.footer-contact {
  background-color: #293449;
  font-family: "Cuprum", Arial, sans-serif;
}


.search-field {
  padding: 0;
  margin: 0;
}

.search-field form {
  padding: 0;
  margin: 0;
  position: relative;
}

.search-field input {
  background-color: transparent;
}

.search-field input::placeholder {
  color: #ffffff;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
}

.search-field input {
  padding: 0;
  margin: 0;
  width: 100%;
  padding-left: 45px;

  font: inherit;
  border: none;
}

.search-field svg {
  color: #666d7c;
}

.search-field:hover{
  background-color: #212a3a;
}

.search-field:hover svg{
  color: #ffffff;
}

.search-field input:focus {
  background-color: #ffffff;
  color: #000000;
}

.search-field input:focus + svg {
  color: #ee3643;
}

.order-container a{
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
}

.logo {
  color: #ffffff;

  background-color: #ee3643;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.header-btn {
  background-color: inherit;
}

.header-btn svg {
  opacity: 0.3;
}

.header-btn:hover {
  background-color: #212a3a;
}

.header-btn:hover svg {
  opacity: 1;
}

.header-btn:active {
  opacity: 0.3;
  background-color: #161d29;
}

.order-btn {
  text-align: center;
  background-color: #63a63e;
}

.order-btn:hover {
  background-color: #5fbb2d;
}

.order-btn:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.header-content,
.service-section,
.catalog-info     {
  background-color: #f3f7f8;
}

.header-content {
  font-family: "Cuprum", Arial, sans-serif;
}

.header-info > p {
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.header-content li {
  list-style: none;
}

.header-phone {
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
}

.header-phone svg {
  color: #b7bfc8;
}

.header-contacts p {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
}

.log-btn,
.profile-btn {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-login svg {
  color: #c5c5c5;
}

.log-btn:hover {
  color: #ee3643;
}

.log-btn:hover svg,
.profile-btn:hover svg {
  color: #32425c;
}

.log-btn:active,
.log-btn:active svg,
.profile-btn svg,
.profile-btn:active,
.profile-btn:active svg {
  color: #c5c5c5;
}

.user-name {
  background-color: #ffffff;
}

.user-link {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}

.user-link:hover {
  color: #ee3643;
}

.user-link:active {
  color: #32425c;
  opacity: 0.3;
}

.header-navigation {
  background-color: #32425c;
}

.header-navigation a {
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
}

.header-navigation a:hover {
  background-color: #293449;
}

.header-navigation a:active {
  opacity: 0.5;

  background-color: #293449;
}

.current-nav {
  opacity: 0.5;
  background-color: #293449;

  pointer-events: none;
  cursor: default;
}

/* Main */
.features-section {
  font-family: "Cuprum", Aria, sans-serif;
}

.features-item {
  list-style: none;
}

.features-item svg {
  color: white;
}

.features-item:first-child {
  background-color: #ffbf47;
}

.features-item:nth-child(2) {
  background-color: #3bbce3;
}

.features-item:nth-child(3) {
  background-color: #dc91d8;
}

.features-item:nth-child(4) {
  background-color: #8ed78f;
}

.features-item:last-child {
  background-color: #ffc047;
}

.features-name {
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.features-description {
  display: block;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  background-color: rgba(0, 0, 0, 0.1);
}

.features-description:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.features-description:active {
  background-color: rgba(0, 0, 0, 0.3);
}

/* slider */

.slider-title {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
}

.slider-image figcaption {
  background-color: rgba(0, 0, 0, 0.1);
}

.slider p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

/* Популярные товары */

.title-container {
  background-color: #f9f5f0;
}

.catalog-item,
.manufacturer-item {
  list-style: none;
  border: solid 1px #eaeaea;
}

.catalog-item:hover,
.manufacturer-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}



/* Популярные производители */

/* Секция о сервисе */

.service-list li {
  list-style: none;

}

.service-block {
  background-color: #32425c;
}

.service-item {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.service-submenu h3{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
}

.service-submenu{
  background-color: #f4f7f9;
}

.service-block:first-of-type li {
  background-image: url(../img/delivery-feature.png);
  background-repeat: no-repeat;
  background-size: 468px 261px;
  background-position: center;
  background-color: #f4f7f9;
}
.service-block:nth-of-type(2) li {
  background-image: url(../img/warranty-feature.png);
  background-repeat: no-repeat;
  background-size: 389px 283px;
  background-position: center;
  background-color: #f4f7f9;
}
.service-block:last-of-type li {
  background-image: url(../img/credit-feature.png);
  background-repeat: no-repeat;
  background-size: 468px 261px;
  background-position: center;
  background-color: #f4f7f9;
}

.about-contacts p {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.about-partners li {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;

  list-style: none;

  pointer-events: none;
}

.about-partners li::before {
  content: "▬";
  color: #ee3643;
}

/* footer */

.footer-links {
  font-family: "Cuprum", Arial, sans-serif;

  background-color: #32425c;
}

.footer-about p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-phone {
  color: #ffffff;
}

.footer-navigation li{
  list-style: none;
}
.footer-navigation a {
  color: #ffffff;
}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation a:active {
  text-decoration: none;
  opacity: 0.5;
}

.gold a {
  color: #ffd180;
}

.footer-contact {
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;

}

.footer-social li {
  list-style: none;
  width: 42px;
  height: 42px;
}

.social-btn {
  color: #ffffff;
  background-color: #212a3a;
}

.social-btn:hover {
  color: #ffffff;
  background-color: #ee3643;
}

.social-btn:active {
  color: #ffffff;
  background-color: #ee3643;
}

.footer-feedback a,
.footer-note a {
  color: #ffd180;
}

.footer-feedback a:hover,
.footer-note a:hover {
  color: #ffd180;
  text-decoration: underline;
}

.footer-feedback a:active,
.footer-note a:active {
  color: #ee3643;
  text-decoration: none;
}

/* inner-page */
/* Хлебные крошки */
.breadcrumbs li {
  font-size: 13px;
  line-height: 18px;
  list-style: none;
}

.breadcrumbs-current {
  cursor: default;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.home-crumb a {
  color: #c1c6ce;
}

.page-name {
  background-color: #f2f6f8;
}

/* Фильтр */

.filter-title,
.sorter-section,
.sorter-section button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

fieldset {
  border: none;
}

.form-title {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.range-section {
  background-color: #f7f3ec;
}

.output-area input {
  background-color: #f7f3ec;
  border: none;
}

.manufacturer-choise,
.power-list {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter button {
  font-size: 13px;
  line-height: 18px;
  border: solid 1px #e5e5e5;
  background-color: transparent;
}

.sorter-section button {
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.18)
}
.sorter-section button:hover {
  color: #000000;
  text-decoration: underline;
  text-decoration-color: #ee3643;
}
.sorter-section button:active,
button.sorter-choised {
  color: #ee3643;
  text-decoration: none;
}



.page-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.item-hover {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.basket-btn {
  color: #ffffff;

  background-color: #63a63e;
  border-bottom: solid 3px #367315;
  border-radius: 2px;
}

.basket-btn svg {
  opacity: 0.3;
}

.basket-btn:hover {
  background-color: #5fbb2d;
}

.basket-btn:hover svg {
  opacity: 1;
}

.basket-btn:active {
  background-color: #518534;
  border-bottom: solid 3px #518534;
}

.bookmark-btn {
  color: #32425c;

  background-color: #ffffff;
  border: solid 3px #63a63e;
  border-radius: 2px;
}

.bookmark-btn:hover {
  border-color: #32425c;
}

.bookmark-btn:active {
  opacity: 0.3;
}

.item-name {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.item-name a {
  color: #000000;
}

.old-price,
.item-cost {
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.old-price {
  color: #999999;
  text-decoration: line-through;
}

.item-cost {
  color: #ffffff;
  background-color: #ee3643;
}

.page-btn {
  font-size: 13px;
  line-height: 18px;
  background-color: transparent;
  border: solid 1px #e5e5e5;
  color: #000000;
}

.page-btn:hover {
  border: solid 1px #bdc6ca;
}

.page-btn:active,
.catalog-pagination .current {
  border: solid 1px #ee3643;
}

/* Поп-ап */

.pop-up {
  /* display: none; */
  border-top: solid 7px #ee3643;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.close-btn::before {
  content: "×";
  color: #ee3643;
}

.close-btn {
  text-transform: uppercase;
  font-size: 21px;
  background-color: transparent;
  border: none;
}

.form-area {
  background-color: #ffffff;
}

.btn-area {
  background-color: #f4f4f4;
}

.form-area label {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
}

.form-area input,
.form-area textarea {
  border: solid 2px #d7dcde;
}

.form-area input::placeholder,
.form-area textarea::placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  color: #999999;
  font-size: 13px;
  line-height: 18px;
}

.form-area input:hover,
.form-area textarea:hover {
  border-color: #b5b5b5;
}

.form-area input:focus,
.form-area textarea:focus {
  border-color: #ee3643;
}

button.btn {
  border: none;
}

.white-btn {
  background-color: #ffffff;
  color: #000000;
}

.white-btn:hover {
  background-color: #ffffff;
  color: #ee3643;
}

.white-btn:active {
  background-color: #ffffff;
  color: #000000;
  opacity: 0.3;
}

.cart-section h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
}
