/* .declaration-order {
  Позиционирование
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  Блочная модель
  display: block;
  float: right;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;

  Типографика
  font: normal 13px/1.5 Arial, sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #333333;

  Оформление
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  opacity: 1;

  Анимация
  transition: color 1s;

  Разное
  will-change: auto;
} */

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;

  color: #000000;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

.new-item::after {
  content: "";
  position: absolute;
  z-index: 2;
  right: -1px;
  top: 0;
  background: url("../img/new-flag.png");
  width: 60px;
  height: 59px;
}

.btn {
  display: inline-block;
  padding: 10px 55px;

  color: #ffffff;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  border: none;
  background-color: #ee3643;
  border-radius: 2px;
}

.btn:hover,
.btn:focus {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.visually-hidden{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  color: #000000;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 30px;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/* Header */

.header-order {
  min-height: 42px;
}

.header-order .container {
  position: relative;

  display: flex;
  justify-content: flex-end;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 47px;

  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo-header {
  position: absolute;
  top: 0;
  left: 0;
}

.header-order,
.footer-contact {
  font-family: "Cuprum", Arial, sans-serif;

  background-color: #293449;
}

.search-field {
  padding: 0;
  margin: 0;
  width: 270px;
}

.search-form {
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.search-form input::placeholder {
  color: #ffffff;
  line-height: 18px;
  font-family: inherit;
  font-size: 17px;
}

.search-form input {
  box-sizing: border-box;
  height: 42px;
  margin: 0;
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 10px;

  font: inherit;

  background-color: transparent;
  border: none;
}

.search-field svg {
  position: absolute;
  top: 13px;
  left: 17px;

  color: #666d7c;
}

.search-field:hover{
  background-color: #212a3a;
}

.search-field:hover svg{
  color: #ffffff;
}

.search-field input:focus {
  color: #000000;

  background-color: #ffffff;
}

.search-field input:focus + svg {
  color: #ee3643;
}

.order-container {
  display: flex;
  justify-content: flex-end;
  width: 450px;
}

.order-container a{
  color: #ffffff;
  line-height: 18px;
  font-size: 17px;
}

.logo {
  color: #ffffff;
  text-align: center;

  background-color: #ee3643;
}

.logo-header svg {
  height: 19px;
  width: 109px;
}

.logo:hover,
.header-btn.active:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.header-btn svg {
  position: absolute;
  left: 15px;
  top: 12px;

  opacity: 0.3;
}

.header-btn:hover {
  background-color: #212a3a;
}

.header-btn:hover svg {
  opacity: 1;
}

.header-btn:active {
  opacity: 0.3;
  background-color: #161d29;
}

.header-btn.active {
  background-color: #ee3643;
}

.header-btn,
.order-btn {
  position: relative;

  box-sizing: border-box;
  height: 42px;
  flex-basis: 150px;
  padding: 12px 20px;

  text-align: center;
}

.header-btn {
  padding-left: 50px;

  background-color: inherit;
}

.order-btn {
  background-color: #63a63e;
}

.order-btn:hover {
  background-color: #5fbb2d;
}

.order-btn:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.header-content,
.service-section,
.catalog-info     {
  background-color: #f3f7f8;
}

.header-content {
  padding-bottom: 60px;

  font-family: "Cuprum", Arial, sans-serif;
}

.header-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 46px;
  padding-bottom: 35px;
}

.header-info > p {
  box-sizing: border-box;
  width: 320px;
  margin: 0;
  padding: 5px 50px;

  color: #ee3643;
  line-height: 23px;
  font-size: 16px;
  font-style: italic;
}

.header-contacts {
  box-sizing: border-box;
  width: 300px;
}

.header-content li {
  list-style: none;
}

.header-phone {
  position: relative;

  display: inline-block;
  box-sizing: border-box;
  width: 270px;
  height: 45px;
  padding: 9px 50px 9px 70px;
  margin-bottom: 5px;

  color: #ee3643;
  font-size: 21px;
  line-height: 21px;

  border: solid 3px #ffffff;
}

.header-phone svg {
  position: absolute;
  top: 10px;
  left: 10px;

  color: #b7bfc8;
}

.header-contacts p {
  color: #32425c;
  line-height: 24px;
  font-size: 14px;
  margin: 0;
  padding: 0 10px;
}

.log-btn {
  display: block;

  color: #000000;
  font-size: 21px;
  line-height: 21px;
  padding: 10px 25px;

  background-color: #ffffff;
}

.users-btn:first-child .log-btn {
  margin-right: 10px;
  }

.user-login {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 320px;
  margin: 0;
  padding: 0;
}

.user-login svg {
  color: #c5c5c5;
}

.log-btn:hover {
  color: #ee3643;
}

.log-btn:hover svg,
.profile-btn:hover svg {
  color: #32425c;
}

.log-btn:active,
.log-btn:active svg,
.profile-btn svg,
.profile-btn:active,
.profile-btn:active svg {
  color: #c5c5c5;
}

.user-name {
  display: flex;
  width: 299px;
  height: 45px;
  justify-content: space-between;

  background-color: #ffffff;
}

.profile-btn {
  display: block;

  color: #000000;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  padding: 12px;
}

.info-links {
  display: flex;
  padding-left: 17px;
}

.info-links li {
  margin-right: 26px;
}

.info-links li:last-child {
  padding-left: 0px;

  list-style: disc;
}

.user-link {
  color: #32425c;
  line-height: 18px;
  font-size: 16px;
  text-decoration: underline;
}

.user-link:hover {
  color: #ee3643;
}

.user-link:active {
  color: #32425c;
  opacity: 0.3;
}

.header-navigation {
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.header-navigation ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 20px;
  margin: 0;

}

.header-navigation li {
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  text-align: center;
}

.header-navigation a {
  padding: 21px 5px;

  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
}

.current-page {
  cursor: default;
}

.header-navigation a:not(.current-page):hover {
  background-color: #293449;
}

.header-navigation a:not(.current-page):active {
  opacity: 0.5;

  background-color: #293449;
}

/* Main */

.features-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  padding-top: 60px;

  font-family: "Cuprum", Arial, sans-serif;
}

.features-line ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.features-list {
  display: flex;
  justify-content: space-between;
}

.column-line {
  flex-direction: column;
  margin-left: auto;
}

.features-item {
  position: relative;

  box-sizing: border-box;
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
  padding: 20px 20px;

  list-style: none;
}

.features-item svg {
  position: absolute;
  top: 30px;
  left: 213px;
  text-align: center;
  vertical-align: middle;

  color: #ffffff;
}

.features-line .features-item:first-child {
  background-color: #ffbf47;
}

.features-line .features-item:nth-child(2) {
  background-color: #3bbce3;
}

.features-line .features-item:nth-child(3) {
  background-color: #dc91d8;
}

.features-list .features-item:first-child {
  background-color: #8ed78f;
}

.features-list .features-item:last-child {
  background-color: #ffc047;
}

.features-name {
  padding: 0;
  margin: 0;

  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.features-description {
  display: inline-block;
  box-sizing: border-box;
  width: 135px;
  height: 38px;
  padding: 10px 20px;
  margin-top: 15px;

  color: #ffffff;
  line-height: 18px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;

  background-color: rgba(0, 0, 0, 0.1);
}

.features-description:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.features-description:active {
  background-color: rgba(0, 0, 0, 0.3);
}

/* slider */

.slider p,
.slider figcaption,
.slider h2,
.slider figure {
  margin: 0;
  padding: 0;
}

.slider > div {
  position: relative;

  margin-bottom: 10px;
}

.slider-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slider-image {
  position: relative;
  width: 620px;
  height: 266px;

  background-color: rgba(0, 0, 0, 0.2);
}

.slider-image figcaption {
  position: absolute;
  top: 25px;
  left: 25px;
}

.slider p {
  color: #ffffff;
  line-height: 24px;
  font-size: 18px;
}

.slider .btn {
  position: absolute;
  bottom: 22px;
  left: 25px;

  padding: 10px 50px;
}

/* Популярные товары */

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px;
  padding-right: 24px;
  margin-bottom: 21px;

  background-color: #f9f5f0;
}

.title-container .section-title {
  display: inline-block;
  margin: 0;
}

.catalog-item,
.manufacturer-item {
  border: solid 1px #eaeaea;
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-item:hover,
.manufacturer-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.title-container .popular-btn {
  box-sizing: border-box;
  width: 253px;
  padding: 10px;
  margin-left: auto;

  text-align: center;
}

.popular-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

/* Популярные производители */

.popular-manufacturer ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  padding-bottom: 85px;
}

.manufacturer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
}

/* Секция о сервисе */

.service-section .section-title {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.service-section .container {
  padding-top: 65px;
}

.service-manifest {
  margin: 0;
  padding: 0;
  width: 400px;
  margin-bottom: 70px;
}

.div1 {
  display: flex;
}

.service-list {
  margin: 0;
  padding: 0;
}

.service-list li {
  margin: 0;

  list-style: none;
}

.service-block {
  box-sizing: border-box;
  width: 240px;
  min-height: 61px;
  padding: 21px;

  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  background-color: #32425c;
}

.service-block:hover {
  box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
  background-color: #ffffff;
}

.service-block:hover span {
  color: #32425c;
}

.service-item {
  color: #ffffff;
  font-weight: bold;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
}

.service-submenu h3{
  margin: 0;
  margin-bottom: 30px;

  color: #32425c;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  line-height: 36px;
  font-size: 36px;
  text-transform: uppercase;
}

.service-submenu{
  padding-left: 80px;

  background-color: #f4f7f9;
}

.delivery-description p {
  width: 275px;
}

.warranty-description p {
  width: 380px;
}

.credit-description p {
  width: 280px;
}

.service-block:first-of-type li {
  background-image: url("../img/delivery-feature.png");
  background-repeat: no-repeat;
  background-size: 468px 261px;
  background-position: center;
  background-color: #f4f7f9;
}
.service-block:nth-of-type(2) li {
  background-image: url("../img/warranty-feature.png");
  background-repeat: no-repeat;
  background-size: 389px 283px;
  background-position: center;
  background-color: #f4f7f9;
}
.service-block:last-of-type li {
  background-image: url("../img/credit-feature.png");
  background-repeat: no-repeat;
  background-size: 468px 261px;
  background-position: center;
  background-color: #f4f7f9;
}

.about-partners li {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;

  list-style: none;
}

.about-partners li::before {
  content: "";
  display: block;
  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.about-contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 75px;
  padding-bottom: 86px;
}

.about-contacts h2 {
  margin-top: 0;
}

.about-section p:first-of-type{
  margin-top: 0;
}

.contacts-section p {
  margin: 0;
  padding-right: 110px;
}

.about-section,
.contacts-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-section {
  width: 540px;
}

.contacts-section {
  width: 300px;
}

.about-section .btn {
  align-self: flex-start;
}

.about-btn {
  box-sizing: border-box;
  width: 220px;
  height: 38px;
  padding: 10px;
}

.map-btn {
  align-self: stretch;
}

.contacts-section button {
  padding: 0;
  margin-top: 35px;
  margin-bottom: 35px;

  border: none;
}

/* footer */

.logo-footer {
  width: 220px;
  height: 68px;
}

.logo-footer svg {
  width: 138px;
  height: 23px;
}

.footer-links .container {
  display: flex;
  min-height: 193px;
}

.footer-links {
  font-family: "Cuprum", Arial, sans-serif;

  background-color: #32425c;
}

.footer-about p {
  margin-top: 30px;

  color: #ffffff;
  font-size: 18px;
  line-height: 24px;

}

.footer-phone {
  color: #ffffff;
}


.footer-navigation {
  display: flex;
  flex-direction: column;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.footer-navigation ul {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  padding-top: 40px;
}

.footer-navigation li{
  display: flex;
  list-style: none;
}

.footer-navigation a {
  color: #ffffff;
  margin-left: 60px;
}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation a:active {
  text-decoration: none;

  opacity: 0.5;
}

.gold a {
  color: #ffd180;
}

.footer-contact .container {
  display: flex;
  justify-content: space-between;
}

.footer-contact {
  padding: 35px 0;

  color: #ffffff;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.footer-contact ul {
  margin: 0;
  padding: 0;
}

ul.footer-social {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
}

.footer-copyright {
  width: 240px;
}

.footer-social li {
  height: 42px;
  width: 42px;
  margin: 0;
  padding: 0;

  list-style: none;

  border-radius: 50%;
}

.footer-social li:not(:first-child) {
  margin-left: 2px;
}

.social-btn {
  position: absolute;

  display: block;
  width: 42px;
  height: 42px;

  color: #ffffff;
  text-align: center;

  background-color: #212a3a;
  border-radius: 50%;
}

.social-btn svg {
  position: relative;
  left: auto;
  top: 10px;

  color: #ffffff;
}

.vk-btn svg{
  top: 14px;
}

.social-btn:hover {
  color: #ffffff;

  background-color: #ee3643;
}

.social-btn:active {
  color: #ffffff;

  background-color: #ee3643;
}

.feedback-section {
  display: flex;
  justify-content: flex-start;
  width: 300px;
}

.feedback-section p {
  margin-top: 0;
}

.footer-feedback,
.footer-note {
  display: flex;
  flex-direction: column;
}

.footer-note {
  margin-left: 50px;
}

.footer-feedback a,
.footer-note a {
  color: #ffd180;
}

.footer-feedback a:hover,
.footer-note a:hover {
  color: #ffd180;
  text-decoration: underline;
}

.footer-feedback a:active,
.footer-note a:active {
  color: #ee3643;
  text-decoration: none;
}

/* inner-page */
/* Хлебные крошки */

.products-info {
  padding-bottom: 60px;
}

.breadcrumbs {
  display: flex;
  padding-left: 0;
  margin: 0;
}

.breadcrumbs li {
  margin-right: 41px;
  padding-top: 20px;
  padding-bottom: 20px;

  font-size: 13px;
  line-height: 18px;
  list-style: none;
}

.breadcrumbs-current {
  cursor: default;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.home-crumb a {
  color: #c1c6ce;
}

.page-name {
  height: 89px;
  margin-bottom: 20px;

  background-color: #f2f6f8;
}

.item-list {
  display: flex;
}

/* Фильтр */

.filter-section {
  display: flex;
  flex-direction: column;
  width: 220px;
}

.catalog-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 20px;
}

.catalog-section {
  display: flex;
  flex-direction: column;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
}

.filter-title,
.sorter-section,
.sorter-section button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

fieldset {
  border: none;
}

.form-title {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.range-section {
  background-color: #f7f3ec;
}

.output-area input {
  font-size: 17px;
  line-height: 18px;
  text-align: center;

  background-color: #f7f3ec;
  border: none;
  }

.manufacturer-choise,
.power-list {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.sorter-section button {
  color: rgba(156, 154, 154, 0.18);

  background-color: transparent;
  border: none;
}

.sorter-section button:hover {
  color: #000000;
  text-decoration: underline;
  text-decoration-color: #ee3643;
}

.sorter-section button:active,
button.sorter-choised {
  color: #ee3643;
  text-decoration: none;
}

.page-title {
  margin: 0;
  padding: 30px;

  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-list .catalog-item {
  margin: 10px;
  margin-right: 0;
  margin-left: 0;
}

.catalog-item {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 220px;
  min-height: 318px;
  padding-bottom: 21px;
}

.catalog-item img {
  height: 170px;
  width: 218px;
  z-index: -1;
}

.item-name span {
  display: block;
  text-align: center;
  height: 18px;
}

.item-hover {
  position: absolute;
  z-index: -2;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 170px;
  padding: 44px 41px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #ffffff;
}

.catalog-item:hover .item-hover {
  z-index: 0;
}

.basket-btn {
  position: relative;

  display: block;
  box-sizing: border-box;
  width: 135px;
  height: 38px;
  padding: 10px;
  margin-bottom: 7px;

  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  background-color: #63a63e;
  border-bottom: solid 3px #367315;
  border-radius: 2px;
}

.basket-btn svg {
  position: absolute;
  left: 12px;
  top: 11.5px;

  opacity: 0.3;
}

.basket-btn:hover {
  background-color: #5fbb2d;
}

.basket-btn:hover svg {
  opacity: 1;
}

.basket-btn:active {
  background-color: #518534;
  border-bottom: solid 3px #518534;
}

.bookmark-btn {
  box-sizing: border-box;
  width: 135px;
  height: 38px;

  color: #32425c;
  text-transform: uppercase;

  background-color: #ffffff;
  border: solid 3px #63a63e;
  border-radius: 2px;
}

.bookmark-btn:hover {
  border-color: #32425c;
}

.bookmark-btn:active {
  opacity: 0.3;
}

.item-name {
  font-size: 18px;
  line-height: 20px;
}

.item-name a {
  color: #000000;
}

.old-price,
.item-cost {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.old-price {
  color: #999999;
  text-decoration: line-through;
}

.item-cost {
  position: relative;

  display: block;
  box-sizing: border-box;
  min-width: 120px;
  height: 38px;
  padding: 10px;
  margin-top: auto;

  color: #ffffff;
  text-align: center;

  background-color: #ee3643;
}

.item-cost::after {
  content: "";
  position: absolute;
  right: -38px;
  top: 0;
  border: solid 19px transparent;
  border-left-color: #ee3643;

}

.transparent-btn {
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  border: solid 1px #e5e5e5;
  background-color: transparent;
}

.transparent-btn:hover {
  border: solid 1px #bdc6ca;
}

.transparent-btn:active {
  border: solid 1px #ee3643;
}

.catalog-info .container{
  padding-top: 65px;
  padding-bottom: 55px;
}

.catalog-info .section-title {
  margin-top: 0;
}

.catalog-info p {
  padding-right: 30px;
}

.catalog-pagination {
  display: flex;
}

.catalog-pagination a {
  box-sizing: border-box;
  min-width: 38px;
  padding: 10px 5px;

  text-align: center;

  border-radius: 4px;
}

.catalog-pagination a:last-child {
  width: 140px;
}

.catalog-pagination a:not(:first-child) {
  margin-left: 10px;
}

.catalog-pagination .current {
  color: #ffffff;

  background-color: #ee3643;
}


/* Поп-ап */

.pop-up {
  display: none;

  border-top: solid 7px #ee3643;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.close-btn {
  color: #ee3643;

  background-color: transparent;
  border: none;
}

.form-area {
  background-color: #ffffff;
}

.btn-area {
  background-color: #f4f4f4;
}

.form-area label {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
}

.form-area input,
.form-area textarea {
  border: solid 2px #d7dcde;
}

.form-area input::placeholder,
.form-area textarea::placeholder {
  color: #999999;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.form-area input:hover,
.form-area textarea:hover {
  border-color: #b5b5b5;
}

.form-area input:focus,
.form-area textarea:focus {
  border-color: #ee3643;
}

.white-btn {
  color: #000000;

  background-color: #ffffff;
}

.white-btn:hover {
  color: #ee3643;

  background-color: #ffffff;
}

.white-btn:active {
  color: #000000;

  background-color: #ffffff;
  opacity: 0.3;
}

.cart-info h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}
