.warranty-feature, .delivery-feature, .credit-feature{
	background: url(sprites.png) no-repeat;
}

.warranty-feature{
	background-position: 0 0;
	width: 389px;
	height: 283px;
}

.delivery-feature{
	background-position: -422px 0;
	width: 468px;
	height: 261px;
}

.credit-feature{
	background-position: -935px 0;
	width: 465px;
	height: 285px;
}

